/*Hero Section8*/

#hero {
    background: #E8CBC0;
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    background: linear-gradient(to right, #636EA4, #E8CBC0);
    color: #000;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#hero a {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#hero a img {
    height: 40%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#hero a img:hover {
    height: 50%;
}