#hero {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#hero img {
    height: 50%;
}

.index-btn{
    width: 100%;
}