<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue darken-1">
            <a class="brand-logo center">Select exercise type</a>
            <ul id="nav-mobile" class="left">
                <li><a id="back-button"><i class="material-icons">arrow_back</i></a></li>
            </ul>
        </div>
    </nav>
</div><br>
<div style="text-align: center;">
<a class='dropdown-button btn blue darken-1 container' href='#' data-activates='dropdown1'>CHOOSE</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!" style="color: #1e88e5 !important;">Ab Exercises</a></li>
 <li><a href="#!" style="color: #1e88e5 !important;">Arm Exercises</a></li>
    <li><a href="#!" style="color: #1e88e5 !important;">Back Exercises</a></li>
 <li><a href="#!" style="color: #1e88e5 !important;">Butt & Hip Exercises</a></li>
    <li><a href="#!" style="color: #1e88e5 !important;">Chest Exercises</a></li>
 <li><a href="#!" style="color: #1e88e5 !important;">Lower Leg Exercises</a></li>
    <li><a href="#!" style="color: #1e88e5 !important;">Upper Leg Exercises</a></li>
 <li><a href="#!" style="color: #1e88e5 !important;">Shoulder Exercises</a></li>
    <li><a href="#!" style="color: #1e88e5 !important;">Full Body/Integrated Exercises</a></li>
 <li><a href="#!" style="color: #1e88e5 !important;">Neck Exercises</a></li>
  </ul>
        
</div>
<a href="" class="waves-effect waves-light btn-large blue white-text darken-1 index-btn" style="position: fixed; bottom: 0;" id="preferences-next">NEXT</a>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.js"></script>
<script src="/javascripts/preferences.js"></script>