 <section id="hero" class="blue darken-1">
 	<img src="img/logo.png">
 	<div class="container">
 		<div class="row">
 			<div class="col s10 offset-s1 m4 offset-m4">
 				<div class="row">
 					<col class="s12"><a href="/userflow/location" class="waves-effect waves-light btn-large white blue-text text-darken-1 index-btn">START YOUR WORKOUT</a>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>