<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue darken-1">
            <a class="brand-logo center">Workout Preferences</a>
            <ul id="nav-mobile" class="left">
                <li><a id="back-button"><i class="material-icons">arrow_back</i></a></li>
            </ul>
        </div>
    </nav>
</div><br>
<div class="container">
    <h3 style="text-align: center;">How long do you want to work for?</h3>
    <div id="test-slider"></div>
</div>
<a href="" class="waves-effect waves-light btn-large blue white-text darken-1 index-btn" style="position: fixed; bottom: 0;" id="preferences-next">NEXT</a>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.js"></script>
<script src="/javascripts/preferences.js"></script>